/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

@keyframes heartGrow {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.25);
  }
}

.page {
  display: flex;
  flex-direction: column;
  gap: 100px;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  max-inline-size: 50%;
  margin: 0 auto;
  padding: 100px 0;
  color: var(--accent-color, #000);
  background-image: var(--body-pattern);
  font-family: var(--main-font), sans-serif;
  font-variation-settings: 'wght' var(--main-card-font-weight, 400);
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: var(--global-border);
  padding: 10.5rem 0;
  font-family: var(--accent-font), fantasy, sans-serif;
  background-color: var(--bg-color);
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.header__logo {
  font-size: var(--logo-font-size, 3rem);
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
}

.header__title {
  font-size: var(--title-font-size, 0.6rem);
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
}

.card {
  font-size: var(--base-page-font-size, 1rem);
  border: var(--global-border);
  background-color: var(--bg-color);
}

.card__title {
  padding: 3px 10px;
  font-variation-settings: 'wght' 700;
}

.card__image-container {
  position: relative;
  overflow: hidden;
  aspect-ratio: 1/1;
}

.card__image {
  display: block;
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
  object-position: center;
}

.card__image--1 {
  filter: saturate(70%);
}

.card__image--2 {
  filter: sepia(50%);
}

.card__image--3 {
  filter: brightness(70%);
}

.card__image--4 {
  filter: hue-rotate(180deg);
}

.card__image--5 {
  filter: invert(20%);
}

.card__image--6 {
  filter: contrast(120%);
}

.card__image--7 {
  filter: saturate(120%) contrast(120%);
}

.card__image--8 {
  filter: brightness(110%) sepia(30%) contrast(120%);
}

.card__content {
  padding: 25px;
}

.card__description {
  display: flex;
  flex-direction: column;
  gap: 27px;
}

.card__label {
  position: absolute;
  z-index: 1;
  opacity: 0.5;
  color: #000;
  font-family: var(--accent-font), sans-serif;
  font-size: var(--base-page-font-size, 1rem);
  text-shadow: 0 0 1px var(--text-stroke-color, #fff);
  inset-block-start: 25px;
  inset-inline-end: clamp(0.8rem, 0.5rem + 1.1vw, 1.5rem);
  mix-blend-mode: hard-light;
}

@supports (-webkit-text-stroke: 1px var(--text-stroke-color)) or (text-stroke: 1px var(--text-stroke-color)) {
  .card__label {
    text-shadow: none;
    -webkit-text-stroke: 1px var(--text-stroke-color, #fff);
    text-stroke: 1px var(--text-stroke-color, #fff);
  }
}

.card__buttons {
  display: flex;
  margin-top: 25px;
  gap: 12px;
  align-items: center;
  justify-content: flex-end;
}

.card__icon-button {
  background-color: transparent;
  border: none;
}

.button {
  position: relative;
  overflow: hidden;
  background-color: var(--bg-color);
  box-shadow: 2px 2px 0 transparent;
  transition: box-shadow 0.3s ease;
}

.button:focus-visible {
  outline: none;
  box-shadow: 2px 2px 0 var(--accent-color);
}

.card__like-button {
  padding: 10px 37px;
  font-family: var(--accent-font), sans-serif;
  font-size: var(--base-page-font-size, 1rem);
  font-weight: 400;
  border: var(--global-border);
}

.button__text {
  position: relative;
  z-index: 1;
  color: var(--bg-color);
  mix-blend-mode: difference;
}

.button::before {
  content: '';
  position: absolute;
  inset: 0;
  background-color: var(--accent-color, #000);
  transition: translate 0.5s ease-in-out;
  translate: -100%;
}

.button:hover::before {
  translate: 0;
}

.like-icon {
  color: black;
}

.like-outline,
.like-partial-fill,
.like-filled {
  fill: currentColor;
}

.like-partial-fill,
.like-filled {
  opacity: 0;
  transition: fill 0.3s ease, opacity 0.3s ease;
}

.card__icon-button:hover .like-partial-fill {
  opacity: 1;
  transition-delay: 0s;
}

.card__icon-button:hover .like-filled {
  opacity: 1;
  transition-delay: 0.05s;
}

.card__icon-button:active .like-icon {
  color: red;
}

.card__icon-button:active .like-partial-fill {
  transition-delay: 0s;
}

.card__icon-button:active .like-filled {
  transition-delay: 0.05s;
}

.card__icon-button.is-liked .like-icon {
  color: red;
}

/* сердцевина сразу */
.card__icon-button.is-liked .like-partial-fill {
  opacity: 1;
  transition-delay: 0s;
}

/* тело с задержкой */
.card__icon-button.is-liked .like-filled {
  opacity: 1;
  transition-delay: 0.03s;
}

/* контур возвращается быстрее */
.card__icon-button.is-liked .like-outline {
  transition: fill 0.1s linear;
}

.button_save {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  padding: 17px 21px;
  min-inline-size: 45%;
  max-inline-size: 65%;
  font-family: var(--accent-font), sans-serif;
  font-size: var(--base-page-font-size, 1rem);
  border: var(--global-border);
  background-color: var(--bg-color, #fff);
}

.button_save_icon {
  z-index: 1;
  inline-size: 28px;
  aspect-ratio: 1/1;
  color: var(--bg-color, #fff);
  fill: currentColor;
  mix-blend-mode: difference;
}

@media (width <= 375px) {
  .page {
    max-inline-size: 100%;
  }

  .button_save {
    max-inline-size: 90%;
  }
}