/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  display: flex;
  flex-direction: column;
  gap: 100px;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  max-inline-size: 50%;
  margin: 0 auto;
  padding: 100px 0;
  color: var(--accent-color, #000);
  background-image: var(--body-pattern);
  font-family: var(--main-font), sans-serif;
  font-variation-settings: 'wght' var(--main-card-font-weight, 400);
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: var(--global-border);
  padding: 10.5rem 0;
  font-family: var(--accent-font), fantasy, sans-serif;
  background-color: var(--bg-color);
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.header__logo {
  font-size: var(--logo-font-size, 3rem);
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
}

.header__title {
  font-size: var(--title-font-size, 0.6rem);
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
}

.card {
  font-size: 18px;
  border: var(--global-border);
  background-color: var(--bg-color);
}

.card__title {
  padding: 3px 10px;
  font-variation-settings: 'wght' 700;
}

.card__image-container {
  position: relative;
  overflow: hidden;
  aspect-ratio: 1/1;
}

.card__image {
  display: block;
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
  object-position: center;
}

.card__content {
  padding: 25px;
}

.card__description {
  display: flex;
  flex-direction: column;
  gap: 27px;
}

.card__label {
  position: absolute;
  z-index: 1;
  opacity: 0.5;
  color: #000;
  font-family: var(--accent-font), sans-serif;
  font-size: 14px;
  text-shadow: 0 0 1px var(--text-stroke-color, #fff);
  inset-block-start: 25px;
  inset-inline-end: clamp(0.8rem, 0.5rem + 1.1vw, 1.5rem);
  mix-blend-mode: hard-light;
}

@supports (-webkit-text-stroke: 1px var(--text-stroke-color)) or (text-stroke: 1px var(--text-stroke-color)) {
  .card__label {
    text-shadow: none;
    -webkit-text-stroke: 1px var(--text-stroke-color, #fff);
    text-stroke: 1px var(--text-stroke-color, #fff);
  }
}

.card__buttons {
  display: flex;
  margin-top: 25px;
  gap: 12px;
  align-items: center;
  justify-content: flex-end;
}

.card__icon-button {
  background-color: transparent;
  border: none;
}

.card__like-button {
  padding: 10px 37px;
  font-family: var(--accent-font), sans-serif;
  font-size: 14px;
  font-weight: 400;
  border: var(--global-border);
  background-color: transparent;
}

.button_save {
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 17px 21px;
  inline-size: 50%;
  font-family: var(--accent-font), sans-serif;
  font-size: 14px;
  border: var(--global-border);
  background-color: var(--bg-color, #fff);
}

.button_save_icon {
  inline-size: 21px;
  aspect-ratio: 1/1;
}